---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  imagePath: string;
  name: string;
  altText: string;
}

const { imagePath, name, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.webp",
);

if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{webp}"`,
  );
---

<div class='card card-hidden'>
  <div class='container'>
    <Image src={images[imagePath]()} alt={altText} loading='eager' />
  </div>
  <div class='wrapper'>
    <p class='card-name'>{name}</p>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .card {
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-radius: 2.5rem;
    border-width: 2px;
    border-color: #222;
  }

  .card-name {
    text-align: center;
    align-self: flex-end;
    padding: 10px 0 10px 0;
    font-weight: 600;
    font-size: 24px;
  }

  .container {
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .card:hover {
    border-color: #000;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
  }
  .container img {
    border: 2px solid;
    border-radius: 2.5rem;
    display: block;
    object-fit: cover;
    width: 400px;
    height: 275px;
    max-width: 100%;
  }
</style>
