---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Contact from "../../components/Contact.astro";
import data from "../../data.json";

export function getStaticPaths() {
  return data.map((project) => ({
    params: { id: project.id },
  }));
}

interface Props {
  imagePath: string;
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.webp",
);
const project = data.find((p) => p.id === Astro.params.id) || data[0];
const { name, imagePath, description, tech, next } = project;

if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{webp}"`,
  );
---

<Layout transition:persist>
  <section>
    <div id='hallo'></div>
    <div class='diagonal-text'>
      <p>{name}</p>
    </div>
    <div class='wrapper'>
      <div class='card'>
        <div class='container'>
          <a href={`/`}><input type='button' class='btn-grad' value='Back' /></a
          ><Image src={images[imagePath]()} alt={name} loading='eager' />
          <a href={`/projects/${next}`}
            ><input type='button' class='btn-grad' value='Next' /></a
          >
        </div>
        <p class='card-name'>Project: {name}</p>
        <p class='card-name'>Technologies: {tech}</p>
        <p class='card-name card-name-mobile'>Description: {description}</p>
        <div class='btn-wrapper'>
          <a href={`/`}><input type='button' class='btn-grad' value='Back' /></a
          >

          <a href={`/projects/${next}`}
            ><input type='button' class='btn-grad' value='Next' /></a
          >
        </div>
      </div>
    </div>
  </section>
</Layout>

<Contact />

<style>
  .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0 -1px;
    border-radius: 2rem;
    background-image: linear-gradient(135deg, #3e3e3e 10%, #1f1f1f 100%);
  }

  .card {
    position: relative;
    width: 50vw;
    height: 75vh;
    justify-content: center;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 2rem;
  }

  .card::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 1px 0;
    border-radius: 2rem;
    background-image: linear-gradient(135deg, #2b2b2b 0%, #222 100%);
    box-shadow: 15px 15px 6px 0px rgba(0, 0, 0, 0.5);
  }

  .card-name {
    text-align: center;
    align-self: flex-end;
    padding: 10px 0 10px 0;
    font-weight: 600;
    font-size: 24px;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
  }

  .container .btn-grad {
    /* align-items: center;
    justify-content: center; */
    transform: translateY(175%);
  }
  .card::before img {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0 -1px;
    border-radius: 2rem;
    background-image: linear-gradient(135deg, #3e3e3e 10%, #222 100%);
  }

  img {
    position: relative;
    border-radius: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    width: 500px;
    height: 325px;
    max-width: 100%;
    background-color: #222;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  }

  .diagonal-text {
    padding-bottom: 40px;
    text-align: center;
    overflow: hidden;
  }

  .diagonal-text p {
    --skew-angle: -4deg;
    font-weight: 900;
    font-size: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
    font-family: system-ui;
    rotate: var(--skew-angle);
    text-shadow:
      2px 2px 0 hsl(219, 76%, 55%),
      4px 4px 0 rgba(42, 123, 155, 1),
      6px 6px 0 hsl(219, 76%, 40%);
  }

  .btn-grad {
    background-image: linear-gradient(
      to right,
      #363636 0%,
      #333333 51%,
      #222 100%
    );
  }
  .btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 2px 2px 2px #000000a1;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    font-size: 20px;
  }

  .btn-grad:hover {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    .card {
      padding: 0px;
      width: calc(100% - 1rem);
      height: calc(100% -1rem);
    }
    .card-name-mobile {
      display: hidden;
    }
    .container .btn-grad {
      /* align-items: center;
    justify-content: center; */
      transform: translateY(175%);
      display: hidden;
    }
  }
</style>
