---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Contact from "../../components/Contact.astro";
import data from "../../data.json";

export function getStaticPaths() {
  return data.map((project) => ({
    params: { id: project.id },
  }));
}

interface Props {
  imagePath: string;
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.webp",
);
const project = data.find((p) => p.id === Astro.params.id) || data[0];
const { name, imagePath } = project;

if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{webp}"`,
  );
---

<Layout transition:persist>
  <section>
    <div id='hallo'></div>
    <Navbar />
    <div class='diagonal-text'>
      <p>{name}</p>
    </div>
    <div class='wrapper'>
      <div class='card'>
        <div class='container'>
          <Image src={images[imagePath]()} alt={name} loading='eager' />
        </div>
        <p class='card-name'>{name}</p>
        <form>
          <input
            type='button'
            class='button'
            value='Go back!'
            onclick='history.back()'
          />
        </form>
      </div>
    </div>
  </section>
  <Contact />
</Layout>
<style>
  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 50vw;
    height: 75vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 2.5rem;
    outline: 3px solid #000000;
    box-shadow: 15px 15px 6px 0px rgba(0, 0, 0, 1);
    background-color: #282828;
  }

  @media screen and (max-width: 768px) {
    .card {
      width: calc(100% - 1rem);
    }
  }

  .card-name {
    text-align: center;
    align-self: flex-end;
    padding: 10px 0 10px 0;
    font-weight: 600;
    font-size: 24px;
  }

  .container {
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
  }

  img {
    border: 3px solid;
    border-radius: 2.5rem;
    display: block;
    object-fit: cover;
    width: 375px;
    height: 275px;
    max-width: 100%;
    background-color: #222;
  }

  .diagonal-text {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    overflow: hidden;
  }

  .diagonal-text p {
    --skew-angle: -4deg;
    font-weight: 900;
    font-size: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
    font-family: system-ui;
    rotate: var(--skew-angle);
    text-shadow:
      2px 2px 0 hsl(219, 76%, 55%),
      4px 4px 0 rgba(42, 123, 155, 1),
      6px 6px 0 hsl(219, 76%, 40%);
  }

  .button {
    text-decoration: none;
    color: hsl(212, 22%, 28%);
    font-weight: 700;
    padding: 0.5em 1.25em;
    border-radius: 0.125em;
    background: hsl(50, 100%, 50%);
    box-shadow: 10px 8px 0 rgba(0, 0, 0, 1);
  }
</style>
